@charset "UTF-8";
@font-face {
  font-family: "Open_Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

.grid-header .item-header-2 .header-phone, .grid-header .item-header-3 .header-mail {
  font-family: FontAwesome;
  color: white;
  font-size: 25px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 10px;
}

.grid-header .item-header-2:hover, .grid-header .item-header-3:hover {
  padding: 20px;
  border-radius: 15px;
}

.grid-header .item-header-2:after, .grid-header .item-header-3:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
}

body {
  background-color: #102c54;
  margin: 0;
}

body a {
  color: white;
  text-decoration: none;
}

body a:hover {
  color: white;
  text-decoration: none;
}

.section {
  height: 100vh;
}

.grid-header {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto (320px)[2];
      grid-template-columns: 30% auto repeat(2, 320px);
      grid-template-areas: "item-header-1 . item-header-2 item-header-3";
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.grid-header .item-header {
  font-family: "Ubuntu";
  font-size: 24px;
  padding: 20px 0;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.grid-header .item-header a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
  visibility: visible;
}

.grid-header .item-header-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-header-1;
  font-size: 35px;
}

.grid-header .item-header-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item-header-2;
  text-align: right;
}

.grid-header .item-header-2:hover a {
  color: #102c54;
}

.grid-header .item-header-2:hover .header-phone {
  color: #102c54;
  border: 2px solid #102c54;
}

.grid-header .item-header-2:hover:after {
  width: 100%;
}

.grid-header .item-header-2 .header-phone {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
}

.grid-header .item-header-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: item-header-3;
  text-align: right;
}

.grid-header .item-header-3:hover a {
  color: #102c54;
}

.grid-header .item-header-3:hover .header-mail {
  color: #102c54;
  border: 2px solid #102c54;
}

.grid-header .item-header-3:hover:after {
  width: 100%;
}

.grid-header .item-header-3 .header-mail {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
}

.item-fixed .header-phone {
  position: fixed !important;
  top: 10%;
  right: 30px;
}

.item-fixed:after {
  display: none;
}

.item-fixed .header-mail {
  position: fixed !important;
  top: 20%;
  right: 30px;
}

.item-fixed:after {
  display: none;
}

.disable {
  opacity: 0 !important;
  visibility: hidden !important;
}

.change {
  color: #102c54 !important;
  border: 2px solid #102c54 !important;
  background-color: white;
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: 0;
  right: 0;
  opacity: 1 !important;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.change:before {
  font-size: 50px !important;
}

.change:after {
  content: '';
  width: 120%;
  height: 120%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.change:hover:after {
  width: 320px;
  border-radius: 15px;
  left: auto;
  right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.header-phone.change:hover:after {
  content: '+7 (916) 136-16-71';
}

.header-mail.change:hover:after {
  content: 'fredswork@list.ru';
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.one .grid-one .item-one-text-block .header-obertka .header-inside p, .about-site-section .about-site .about-opisanie {
  font-size: 25px;
  text-align: justify;
  line-height: 32px;
  text-indent: 30px;
  font-family: "Open_Sans";
}

.one {
  margin-top: 100px;
}

.one .grid-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.one .grid-one .item-one-img {
  text-align: center;
}

.one .grid-one .item-one-img img {
  -webkit-transition: all 0.4s ease 0.5s;
  transition: all 0.4s ease 0.5s;
  opacity: 0;
}

.one .grid-one .item-one-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one .grid-one .item-one-text-block .header-obertka {
  border: 1px solid white;
  border-radius: 15px;
  font-family: "Ubuntu";
  padding: 0 30px;
  background-color: white;
  color: #102c54;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.one .grid-one .item-one-text-block .header-obertka .header-inside {
  opacity: 0;
  -webkit-transition: all 0.4s ease 0.5s;
  transition: all 0.4s ease 0.5s;
}

.one .grid-one .item-one-text-block .header-obertka .header-inside h1 {
  font-size: 45px;
  text-align: center;
}

.one .header-vissible .item-one-img img {
  opacity: 1;
}

.one .header-vissible .item-one-text-block .header-obertka {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.one .header-vissible .item-one-text-block .header-obertka .header-inside {
  opacity: 1;
}

.zagolovok p, .about-site-section .about-site .about-zagolovok p, .about-site-section .about-site .about-opisanie, .about-site-section .about-site .about-close .about-link {
  margin: 100px 0;
  color: #102c54;
  font-family: "Ubuntu";
  font-size: 45px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}

.zagolovok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.zagolovok p {
  opacity: 0;
  -webkit-transform: translate(-300px);
          transform: translate(-300px);
  -webkit-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}

.zagolovok .show_from_left {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.first {
  background-image: url("../img/kuhni.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.second {
  background-image: url("../img/fitoestetika.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.third {
  background-image: url("../img/vandeco.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.fourth {
  background-image: url("../img/antivor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.about-site-section {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.about-site-section .about-site {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  padding-left: 0px;
  visibility: visible;
}

.about-site-section .about-site .about-zagolovok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.about-site-section .about-site .about-zagolovok p {
  font-size: 40px;
  text-transform: capitalize;
  margin: 30px 0 50px 0;
  background-color: transparent;
  color: white;
  position: relative;
}

.about-site-section .about-site .about-zagolovok p:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  border-radius: 15px;
  width: 60%;
  left: 20%;
  background-color: white;
}

.about-site-section .about-site .about-opisanie {
  font-size: 20px;
  font-family: "Open_Sans";
  width: 385px;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.about-site-section .about-site .about-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.about-site-section .about-site .about-close .about-link {
  font-size: 30px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 50px 0;
  padding: 20px 40px;
}

.about-site-section .about-site .about-close .about-link:hover {
  color: white;
  background-color: #102c54;
}

.about-site-section .about-site .about-arrow {
  position: absolute;
  height: 100%;
  width: 50px;
  border-left: 2px solid white;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about-site-section .about-site .about-arrow img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
}

.about-site-section .about-show {
  width: 550px;
  overflow: hidden;
}

.about-site-section .about-content-show {
  padding-left: 20px;
}

.about-site-section .about-content-show .about-zagolovok {
  opacity: 1;
}

.about-site-section .about-content-show .about-opisanie {
  opacity: 1;
}

.about-site-section .about-content-show .about-close {
  opacity: 1;
}

.about-site-section .about-content-show .about-arrow img {
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
          transform: rotate3d(0, 1, 0, 0deg);
}

.link-pulse {
  -webkit-animation: pulse 1.5s;
          animation: pulse 1.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

.fixed-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
}

.dots-section {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 35%;
  right: 55px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}

.dots-section .dot {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
  position: relative;
}

.dots-section .dot:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.dots-section .dot-active:after {
  opacity: 1;
}

.last {
  background-image: url("../img/last-fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.last .achivment {
  position: absolute;
  width: 500px;
  height: 600px;
  top: 150px;
  right: 20%;
  border-radius: 15px;
  font-family: "Ubuntu";
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #102c54;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last .achivment .last-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.last .achivment .last-item .image-achive {
  height: 100px;
}

.last .achivment .last-item .image-achive img {
  width: auto;
  height: 100%;
}

.last .achivment .last-item:nth-child(1) {
  -webkit-transition: all 0.4s ease 1.8s;
  transition: all 0.4s ease 1.8s;
}

.last .achivment .last-item:nth-child(1) .image-achive img {
  opacity: 0.6;
}

.last .achivment .last-item:nth-child(2) {
  -webkit-transition: all 0.4s ease 1.4s;
  transition: all 0.4s ease 1.4s;
}

.last .achivment .last-item:nth-child(2) .image-achive img {
  opacity: 0.6;
}

.last .achivment .last-item:nth-child(3) {
  -webkit-transition: all 0.4s ease 1s;
  transition: all 0.4s ease 1s;
}

.last .achivment .last-item:nth-child(3) .image-achive:nth-child(3) img {
  opacity: 0.6;
}

.last .achivment .last-item:nth-child(4) {
  -webkit-transition: all 0.4s ease 0.6s;
  transition: all 0.4s ease 0.6s;
}

.last .achivment .last-item:nth-child(5) {
  -webkit-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

.last .achivment .last-item-show {
  opacity: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #102c54;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  border-top: 1px solid white;
}

/* Мобильная верстка */
@media screen and (max-width: 1600px) {
  .last .achivment {
    right: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 96vw;
    padding: 0 2vw;
  }
  .grid-header {
    -ms-grid-columns: 25% auto (200px)[2];
        grid-template-columns: 25% auto repeat(2, 200px);
  }
  .grid-header .item-header-1 {
    font-size: 20px;
  }
  .grid-header .item-header {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .one {
    margin-top: 20px;
  }
  .one .grid-one {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .one .grid-one .item-one-img {
    display: none;
  }
  .one .grid-one .item-one-text-block {
    height: 80vh;
  }
  .one .grid-one .item-one-text-block .header-obertka .header-inside h1 {
    font-size: 40px;
  }
  .one .grid-one .item-one-text-block .header-obertka .header-inside p {
    font-size: 20px;
  }
  .about-site-section .about-site .about-zagolovok p {
    font-size: 30px;
    margin: 25px 0 35px 0;
  }
  .about-site-section .about-site .about-opisanie {
    font-size: 15px;
  }
  .about-site-section .about-site .about-close .about-link {
    font-size: 25px;
    margin: 35px 0;
  }
  .item-fixed .header-mail {
    top: 22%;
  }
  .last .achivment {
    top: 30px;
    right: 125px;
  }
}

@media screen and (max-width: 430px) {
  .grid-header {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50px 50px;
        grid-template-rows: 50px 50px;
        grid-template-areas: "item-header-1   item-header-2 . " ". item-header-3  .";
    grid-column-gap: 0px;
  }
  .grid-header .item-header a:first-child i {
    visibility: hidden;
  }
  .grid-header .item-header a:first-child .show_icon {
    visibility: visible !important;
  }
  .one .grid-one .item-one-text-block .header-obertka .header-inside h1 {
    font-size: 30px;
  }
  .one .grid-one .item-one-text-block .header-obertka .header-inside p {
    font-size: 15px;
  }
  .last .achivment {
    right: 30px;
    width: 300px;
  }
  .last .achivment .last-item {
    opacity: 1;
  }
  .last .achivment .last-item .image-achive {
    height: 70px;
  }
  .show_about {
    opacity: 1;
  }
  .about-site-section {
    width: 95vw;
  }
  .about-site-section .about-site .about-zagolovok p {
    font-size: 20px;
    margin: 10px 0 15px 0;
  }
  .about-site-section .about-site .about-opisanie {
    width: 60vw;
    font-size: 13px;
    height: 70vh;
    overflow-y: scroll;
  }
  .about-site-section .about-site .about-close .about-link {
    font-size: 15px;
    margin: 15px 0;
    padding: 15px 30px;
  }
  .about-site-section .about-show {
    width: 90vw;
  }
  .header-phone.change:hover:after {
    width: 220px;
    font-size: 15px;
  }
  .header-mail.change:hover:after {
    width: 220px;
    font-size: 15px;
  }
}

@media screen and (max-width: 370px) {
  .grid-header {
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
  }
  .about-site-section .about-site .about-zagolovok p {
    padding: 10px 20px;
  }
  .last .achivment {
    right: 10px;
    width: 290px;
    height: 580px;
    top: 10px;
  }
  .last .achivment .last-item {
    opacity: 1;
  }
  .last .achivment .last-item .image-achive {
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .grid-header {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "item-header-1 . " " item-header-2 item-header-3";
  }
  .grid-header .item-header a:first-child {
    display: none;
  }
  .grid-header .item-header-2 {
    text-align: left;
  }
  .grid-header .item-fixed a:first-child {
    display: block;
  }
  .grid-header .item-fixed .header-mail {
    top: 25%;
  }
  .last .achivment {
    right: 5px;
    width: 250px;
    height: 500px;
  }
  .one {
    margin-top: 5px;
  }
  .one .grid-one .item-one-text-block .header-obertka {
    overflow: scroll;
    height: 75vh;
  }
}
/*# sourceMappingURL=style.css.map */